* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #d5e1ef;
  --bg-card: #fff;
  --heading-color: #1f314f;
  --body-text: #7d889e;
  --qr-bg: #2c7dfa;
  --qr-bg-shade: #3685ff;
}
h1,
p {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}
body {
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
}
#card_body {
  padding: 16px;
  width: clamp(300px, 320px, 100%);
  background: var(--bg-card);
  border-radius: 20px;
  height: clamp(300px, 497px, 100vh);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 4.77%);
  position: relative;
  overflow: hidden;
}
.qr-box {
  background: var(--qr-bg);
  background: url("https://svgshare.com/i/14gL.svg") center center no-repeat;
  padding: 15px;
  border-radius: 20px;
  width: 288px;
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-box img {
  width: 160px;
  height: 160px;
}
.content-con {
  padding-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.content-con h1 {
  font-size: 1.375rem;
  color: var(--heading-color);
}
.content-con p {
  font-size: 0.938rem;
  letter-spacing: 0.19px;
  font-weight: 400;
  color: var(--body-text);
  padding: 0 10px;
}
